.main-block {
    padding: 10px;
    padding-bottom: 0;
    padding-left: 20px;
}

h4 {
    color: #a0a0a0;
}

.block {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-right: 10px;
}

.header-block {
    display: flex;
    align-items: center;
}
