{% extends "base.html" %}

{% block content %}
<h3 class="block-title">Размещение по каютам</h3>
<div class="list">
    {% set room = 'Каюта № ' %}
    {% for member in crew %}
        {% if loop.index == 1 %}
        <div class="member">
            {{ member }} - {{ room }}{{ loop.index }} - капитан корабля
        </div>
        {% else %}
        <div class="member">
            {{ member }} - {{ room }}{{ loop.index }}
        </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
