{% extends "base.html" %}


{% block content %}
    <p class="text-muted h5 m-1">И на Марсе будут яблони цвести!</p>
    {% if list == "ul" %}
    <ul>
        <li>Инженер-исследователь</li>
        <li>Инженер-строитель</li>
        <li>Пилот</li>
        <li>Метеоролог</li>
        <li>Инженер по жизнеобеспечению</li>
        <li>Инженер по радиационной защите</li>
        <li>Врач</li>
        <li>Экзобиолог</li>
    </ul>
    {% else %}
    <ol>
        <li>Инженер-исследователь</li>
        <li>Инженер-строитель</li>
        <li>Пилот</li>
        <li>Метеоролог</li>
        <li>Инженер по жизнеобеспечению</li>
        <li>Инженер по радиационной защите</li>
        <li>Врач</li>
        <li>Экзобиолог</li>
    </ol>
    {% endif %}
{% endblock %}
